


@media (min-width: 600px) {
    .main {
      padding-left: 200px;
      padding-right: 200px;
    }

    .vid
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        height: 300px;
    }
  }

@media (min-width: 1920px) {
    .main {
      padding-left: 500px;
      padding-right: 500px;
    }
    .vid
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 900px;
        height: 500px;
    }
  }


h1
{
    text-align: center;
    padding-top: 150px;
    color: black;
    font-family: monospace;
    font-weight: bold;
}



h2
{
    text-align: center;
    color: black;
    font-family: monospace;
    font-weight: bold;
}
