h1
{
    text-align: center;
    padding-top: 150px;
    color: black;
    font-family: monospace;
    font-weight: bold;
}

.main
{
    padding-left: 500px;
    padding-right: 500px;
}

h2
{
    text-align: center;
    color: black;
    font-family: monospace;
    font-weight: bold;
}

h3
{
    font-family: monospace;
    font-weight: bold;
}

.video
{
    display: block;
    margin: 0 auto;
    width: 420px;
    height: 345px;
}

.projects
{
    display: flex;
    flex-direction: column;
}

.button
{
    background-color: white; /* Green */
    border: none;
    color: black;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover
{
    color: red;
}




