h1
{
    text-align: center;
    padding-top: 150px;
    color: black;
    font-family: monospace;
    font-weight: bold;
}

.main
{
    padding-left: 500px;
    padding-right: 500px;
}

h2
{
    text-align: center;
    color: black;
    font-family: monospace;
    font-weight: bold;
}

h3
{
    font-family: monospace;
    font-weight: bold;
}

.video
{
    display: block;
    margin: 0 auto;
    width: 420px;
    height: 345px;
}




